---
import { content } from "../data/content";
import { withBase } from "../lib/withBase";
const { photo } = content;
---

<section class="photo">
  <img
    class="appear"
    src={withBase(photo.src)}
    width={photo.width}
    height={photo.height}
    alt={photo.alt}
    loading="lazy"
    decoding="async"
  />
  <p class="speech">{photo.speech}</p>
</section>
