---
import { content } from "../data/content";
const { photo, c1, c2, c3 } = content.pink;
---

<img
  class="abs pink-photo appear"
  src={photo.src}
  width={photo.width}
  height={photo.height}
  alt={photo.alt}
/>
<div class="abs copy c1 appear"><p>{c1[0]}<br />{c1[1]}</p></div>
<div class="abs copy c2 appear"><p>{c2}</p></div>
<div class="abs copy c3 appear"><p>{c3[0]}<br />{c3[1]}<br />{c3[2]}</p></div>
